.app {
	width: 100vw;
	height: 100vh;
	background-color: black;
	color: white;

	h1{
		text-align: center;
		margin: 0;
		font-size: 40px;
	}

	form {
		position: fixed;
		padding: 20px;
		bottom: 0;
		font-size: 20px;

		label {
			margin: 20px;
			font-family: sans-serif;
			width: 200px;
		}
	}
}
