@font-face {
    font-family: 'Rock Salt';
    src: url('fonts/RockSalt-Regular.woff2') format('woff2'),
    url('fonts/RockSalt-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}



body {
    margin: 0;
    font-family: 'Rock Salt';
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}
